name: Tests

on:
  push:
    branches: [ main, dev ]

  pull_request:
    types: [opened, synchronize, reopened, edited]

env:
  CARGO_TERM_COLOR: always

jobs:
  e2e-tests:
    name: End-to-End Tests
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Build Docker image
      run: docker build -t libp2p-iroh .
    
    - name: Run end-to-end test
      run: ./test-e2e.sh
